---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import EventsVideo from '../components/EventsVideo.astro';
import SuccessStories from '../components/SuccessStories.astro';
import Features from '../components/Features.astro';
import ServicesOffered from '../components/ServicesOffered.astro';
import VideoGallery from '../components/VideoGallery.astro';
import CompanyJourney from '../components/CompanyJourney.astro';
import BookAppointment from '../components/BookAppointment.astro';
import ContactUs from '../components/ContactUs.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<EventsVideo />
		<SuccessStories />
		<Features />
		<ServicesOffered />
		<VideoGallery />
		<CompanyJourney />
		<BookAppointment />
		<ContactUs />
	</main>
	<Footer />
</Layout>
